PORT=4000
DB_PATH=./data/compliance.db

# LIQUID_MODE=mock
LIQUID_NETWORK=liquidtestnet

DEFAULT_SENDING_INSTITUTION=Brazil Exchange
DEFAULT_SETTLEMENT_INSTITUTION=BSOS
DEFAULT_RECEIVING_INSTITUTION=Corridor Partner
DEFAULT_ASSET_SYMBOL=LBTC

# Real Liquid mode settings
LIQUID_MODE=real
LIQUID_CLI=elements-cli
LIQUID_CLI_ARGS=-chain=liquidtestnet
LIQUID_WALLET=main
